
  
  $viewport-mobile-mid-landscape: 568px;
$line-height-m: 1.6;
$color-midgray: rgb(153, 153, 153);
$line-height-xl: 1.8;
$font-size-xl: 2.8em;
$viewport-desktop: 1024px;
$color-darkgray: rgb(102, 102, 102);
$color-black: rgb(0, 0, 0);
$color-blue: rgb(0, 172, 240);
$viewport-mobile-mid: 375px;
$font-size-s: 1em;
$font-size-xxs: .65em;
$font-weight-regular: 300;
$color-purple: rgb(126, 84, 209);
$line-height-s: 1.6;
$line-height-xxs: 1.3;
$color-red: rgb(216, 42, 78);
$line-height-xs: 1.45;
$font-size-xs: .8em;
// Some comment about how to use it.
$color-brand: rgb(159, 170, 181);
$color-offblack: rgb(30, 30, 30);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(178, 178, 178);
$viewport-desktop-wide: 1180px;
$color-lightgray: rgb(204, 204, 204);
$spacing-l: 3rem;
$spacing-m: 2rem;
$size-hairline: 1px;
$viewport-mobile-xl-landscape: 736px;
$color-offwhite: rgb(244, 241, 235);
$size-thin: 2px;
$viewport-mobile-landscape: 480px;
$spacing-s: 1rem;
$viewport-mobile-xl: 414px;
$color-orange: rgb(243, 92, 32);
$color-green: rgb(20, 210, 110);
$viewport-mobile: 320px;
$font-weight-bold: 500;
$font-size-l: 2.1em;
$font-size-xxl: 4em;
$color-yellow: rgb(255, 210, 0);
$viewport-tablet: 768px;
$font-size-m: 1.35em;
$size-thick: 3px;
$font-weight-light: 100;
$line-height-l: 1.8;
$line-height-xxl: 1.8;
