
  
  $color-midgray: rgb(153, 153, 153);
$color-darkgray: rgb(102, 102, 102);
$color-black: rgb(0, 0, 0);
$color-blue: rgb(0, 172, 240);
$color-purple: rgb(126, 84, 209);
$color-red: rgb(216, 42, 78);
$color-offblack: rgb(30, 30, 30);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(178, 178, 178);
$color-lightgray: rgb(204, 204, 204);
$color-offwhite: rgb(244, 241, 235);
$color-orange: rgb(243, 92, 32);
$color-green: rgb(20, 210, 110);
$color-yellow: rgb(255, 210, 0);
