
  
  $viewport-mobile-mid-landscape: 568px;
$viewport-desktop: 1024px;
$viewport-mobile-mid: 375px;
$viewport-desktop-wide: 1180px;
$viewport-mobile-xl-landscape: 736px;
$viewport-mobile-landscape: 480px;
$viewport-mobile-xl: 414px;
$viewport-mobile: 320px;
$viewport-tablet: 768px;
