/*doc
---
title: Episerver Blocks
name: episerver-blocks
category: Global
---

Meta-customizations for EpiServer block areas.

```html_example
<div class="modal">Modal</div>
```
*/

.article__panel--block--area {
	margin: 0;
	padding: 0;
}
