/*doc
---
title: Buttons
name: buttons
category: Components
---

Buttons - such as button, input and .button - are used throughout the site to contextualize interactions for users.
*/

// "Pseudo button" when <button> should not be used
%button {
	@include setPointer;
	@include setTransitionOut;

	/*
	margin-bottom: $spacing-m / 2;
	padding: $spacing-l / 4 $spacing-l / 2;
	font-size: $font-size-m;
	font-family: $font__family--base;
	white-space: normal;
	overflow: hidden;
	position: relative;
	padding: 0;
	background-color: $color-white;
	height: auto;
	white-space: normal;
	word-break: break-all;
	display: inline-block;
	text-transform: uppercase;
	color: $color-white;
	background-color: $color-blue;
	padding: $spacing-l-small;
	border: none;
	white-space: nowrap;
	font-size: $font-size-xs;
	font-weight: $font-weight-bold;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	*/

	&:hover {
		color: $color-darkgray;
		outline: 0;
		@include setTransitionIn;
	}

	&:focus {
		color: $color-darkgray;
		outline: 0;
		@include setTransitionIn;
	}

	&:disabled {
		color: $color-red;
		outline: 0;
		@include setTransitionIn;
	}
}

// Useful for inlining text and icons in "pseudo" (<div>-composed) buttons
button, .button {
	@extend %button;
}

button, .button, input[type="submit"], input[type="reset"], input[type="button"] {
	//
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	//
}

.button:disabled, button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="button"]:disabled {
	//
}
