/*doc
---
title: Component template
name: component-template
category: Components
---

Component template description and markup example.
*/

.component {
	width: 100%;
}

.component__element {
	width: 100%;
}

.component__element--modifier {
	width: 100%;
}
