/*------------------------------------*\
	TABLES
\*------------------------------------*/

th, td {
	padding: calc(#{$padding} / 2);
	text-align: left;
	border-bottom: 1px solid $lightgray;
}

th:first-child, td:first-child {
	padding-left: 0;
}

th:last-child, td:last-child {
	padding-right: 0;
}

.overflow-container {
	overflow-x: scroll;
}
