/*doc
---
title: Table
name: table
category: Components
---

Tables are used for more complex and demanding information, like order sheets.

```html_example
<div class="modal">Modal</div>
```
*/

table {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0 0 $spacing-m 0;
	display: inline-block;
	-webkit-border-horisontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;

	//border-collapse: collapse;

	//font-family: $font__family--regular;
	font-size: $font-size-m * .9;
}

tbody {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	display: table;

	@media screen and (max-width: $viewport-mobile-xl) {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0 !important;
	}
}

th {
	text-align: left;
	line-height: $line-height-xl;
	background-color: $color-white !important;
	font-size: $font-size-m * 1.1;

	&:empty {
		height: 0;
		display: none;
	}
}

tr {
	width: 100%;
	margin: 0 0 1px;
	padding: 0;
	background-color: $color-lightgray;
	border-bottom: $size-hairline solid $color-darkgray;
	display: inline-block;

	&:first-child {
		border-bottom: 0;
		background-color: $color-white !important;
	}

	&:last-child {
		border-bottom: 0;
	}

	@media screen and (max-width: $viewport-mobile-xl) {
		border-bottom: 0;
		font-size: $font-size-m * 1.1;
	}

	&:empty {
		height: 0;
		display: none;
	}
}

td {
	width: 55%;

	&:first-child {
		width: 45%;
	}

	> button.button__blue {
		margin-bottom: 0;
	}
	padding: $spacing-l / 3 $spacing-l / 4 $spacing-l / 3 $spacing-l / 2;
	float: left;
	display: inline-block;
}
