/*------------------------------------*\
	COMPONENT TEMPLATE
\*------------------------------------*/

.component {
	width: 100%;
}

.component__element {
	width: 100%;
}

.component__element--modifier {
	width: 100%;
}