/*------------------------------------*\
	ANIMATIONS (AND TRANSITIONS)
\*------------------------------------*/

@keyframes fadein {
	0% {
		opacity: 0;
	}
	
	70% {
		opacity: .9;
	}
	
	100% {
		opacity: 1;
	}
}

$transitionInFast: .1s;
$transitionOutFast: .2s;
$transitionInSlow: .5s;
$transitionOutSlow: 1s;