/*doc
---
title: Colors
name: colors
category: Global
---

Global color settings.

```html_example
<div class="modal">Modal</div>
```
*/

//$color__message--warn: #f39200;
//$color__message--inform: #71ad5e;
//$color__message--error: #c54d4d;

@function colors($key) {
	@return map-get($colors, $key);
}
$colors: (
	"font": $color-black, "selection": $color-white, "selection-background": $color-offwhite, "link": $color-blue, "link-visited": $color-purple, "link-active": $color-offblack, "link-hover": currentColor, "background": $color-offwhite
);


/*
$color-white: #fff;


$color-black: #000;
$color-white: #fff;



$base-color: $color-black;

@function colors($key) {
	@return map-get($colors, $key);
}

$colors: (
	"font": $color-offblack,
	"selection": $color-white,
	"selection-background": $color-blue,
	"link": $color-blue,
	"link-visited": $color-purple,
	"link-active": $color-yellow,
	"link-hover": $color-darkgray,
	"background": $color-offwhite
);
*/
