/*doc
---
title: Fonts
name: fonts
category: Global
---

Fonts and typographic meta-setup.

```html_example
<div class="modal">Modal</div>
```
*/

//$breakpoints: (
//	small: $viewport-mobile, medium: $viewport-tablet, large : $viewport-desktop
//);

$global-font-size: (
	null: ($font-size-m, $line-height-m),
	viewport-mobile: ($font-size-m * .75, $line-height-m * .95),
	viewport-tablet: ($font-size-m * .85, $line-height-m * .95),
	viewport-desktop: ($font-size-m, $line-height-m)
);

/* Thanks to https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/ */
@mixin setFontSize($fs-map, $fs-breakpoints: $breakpoints) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@if $fs-breakpoint == null {
			@include generateSize($fs-font-size);
		} @else {
			@if map-has-key($fs-breakpoints, $fs-breakpoint) {
				$fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
			}

			@media screen and (min-width: $fs-breakpoint) {
				@include generateSize($fs-font-size);
			}
		}
	}
}

@mixin generateSize($fs-font-size) {
	@if type-of($fs-font-size) == "list" {
		font-size: nth($fs-font-size, 1);

		@if (length($fs-font-size) > 1) {
			line-height: nth($fs-font-size, 2);
		}
	} @else {
		font-size: $fs-font-size;
	}
}

@mixin setCodeFont {
	//font-family: $font__family--fixed;
	font-size: $font-size-s;
	padding: 0;
	margin: 0;
	overflow-x: scroll;
}
