/*doc
---
title: Links
name: links
category: Global
---

Set up link styling and selection color.
*/

a {
	color: colors("link");
	transition: $transitionOutFast;
	text-decoration: none;

	&:visited {
		color: colors("link-visited");
	}

	&:hover {
		color: colors("link-hover");
		text-decoration: none;
		outline: 0;
		transition: $transitionInFast;
	}

	&:focus {
		outline: 0;
	}

	&:active {
		color: colors("link-active");
	}
}

::selection {
	color: colors("selection");
	background-color: colors("selection-background");
}
