/*doc
---
title: Navigation
name: navigation
category: Layout
---

Base customization of navigation elements.

```html_example
<div class="modal">Modal</div>
```
*/

nav {
	width: auto;
}

ul nav {
	list-style: none;
}

ul {
	margin: 0;
	margin-bottom: $spacing-m;
	padding: 0;
	list-style: disc;
}

ol {
	margin: 0;
	margin-bottom: $spacing-m;
	padding: 0;
	list-style: decimal;
}

li {
	margin: 0;
	padding: 0;
	margin-left: $spacing-m;
	line-height: $line-height-l;
}

dd, dt, dl {
	width: auto;
}
