/*doc
---
title: Print
name: print
category: Layout
---

Print styling.

```html_example
<div class="modal">Modal</div>
```
*/

@media print {
	* {
		background: $color-white;
		color: $color-black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a[href]:after {
		content: none !important;
	}

	html, body {
		height: auto;
	}

	@page  {
		size: a4;
		margin: 2cm;
	}

	.no-print, .no-print * {
		display: none !important;
	}

	body, main, article, section {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 65%;
		clear: both;
		float: left;
	}

	header, nav, footer {
		display: none;
	}

	section, article {
		page-break-before: always;
	}

	ul, img, picture {
		page-break-inside: avoid;
	}

	a, a:visited {
		text-decoration: underline;
	}

	//a[href]:after {
	//	content: " (" attr(href) ")";
	//}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid $color-gray;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page  {
		margin: .5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	p, h1, h2, h3 {
		page-break-after: avoid;
	}
}
