/*doc
---
title: Typograpghy
name: typography
category: Global
---

Global typographic styling.
*/

html {
	//font-family: $font__family--base;
	@include setFontSize($global-font-size);
}

body {
	color: colors("font");
	font-size: 100%;
	font-weight: $font-weight-regular;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: $font-weight-bold;
}

h1 {
	font-size: $font-size-xxl;
	line-height: $line-height-xxl;
}

h2 {
	font-size: $font-size-xl;
	line-height: $line-height-xl;
}

h3 {
	font-size: $font-size-l;
	line-height: $line-height-l;
}

h4 {
	font-size: $font-size-m;
	line-height: $line-height-m;
}

h5 {
	font-size: $font-size-s;
	line-height: $line-height-s;
}

h6 {
	font-size: $font-size-s;
	line-height: $line-height-s;
}

p {
	margin: 0;
	margin-bottom: $spacing-m;
	font-size: $font-size-m;
}

small {
	font-size: $font-size-xs;
}

sup, sub {
	font-size: $font-size-xxs;
	font-weight: $font-weight-bold;
	color: $color-purple;
}

pre, code {
	@include setCodeFont;
}

pre > code {
	display: block;
	white-space: pre;
	padding: 0;
	margin: 0;
}

cite {
	font-style: normal;
	font-size: $font-size-m;
	font-weight: $font-weight-bold;
}

blockquote {
	font-size: $font-size-m;
	line-height: $line-height-m;
	border-left: 5px solid $color-blue;
	padding-left: $spacing-l;
	margin: .2em 0; //.2em 0 .2em 0
}

q, em, i {
	font-style: italic;
}

b, strong {
	font-size: calc(#{$font-size-s} * .96);
	text-transform: uppercase;
	letter-spacing: .03em;
}
