/*doc
---
title: Utilities
name: utilities
category: Global
---

Utility classes are used as additional helper classes to do a variety of supplementary functions.
*/

.hide {
	display: none;
}

.hide__mobile {
	@media only screen and (max-width: $viewport-tablet) {
		display: none;
	}
}

.hide__print {
	@media only print {
		display: none;
	}
}

.display-block {
	display: block;
}

.display-inlineblock {
	display: inline-block;
}

.display-flex {
	display: flex;
}

.display-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

.padding-zero {
	padding: 0 !important;
}

.margin-zero {
	margin: 0 !important;
}

.margin-bottom-1em {
	margin-bottom: 1em !important;
}

.margin-bottom-2em {
	margin-bottom: 2em !important;
}

.margin-bottom-3em {
	margin-bottom: 3em !important;
}

.margin-top-1em {
	margin-top: 1em !important;
}

.margin-top-2em {
	margin-top: 2em !important;
}

.margin-top-3em {
	margin-top: 3em !important;
}

.align-left {
	text-align: left;
	display: block;
}

.align-right {
	text-align: right;
	display: block;
}

.align-center {
	text-align: center;
	display: block;
}

.line-height-1em {
	line-height: 1em;
}

.line-height-1point2em {
	line-height: 1.2em;
}

.light {
	font-weight: $font-weight-light;
}

.regular {
	font-weight: $font-weight-regular;
}

.bold {
	font-weight: $font-weight-bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.link {
	text-decoration: none;
}

// Font sizes can be used as classes
.size-xxl {
	font-size: $font-size-xxl;
}

.size-xl {
	font-size: $font-size-xl;
}

.size-l {
	font-size: $font-size-l;
}

.size-m {
	font-size: $font-size-m;
}

.size-s {
	font-size: $font-size-s;
}

.size-xs {
	font-size: $font-size-xs;
}

.size-xxs {
	font-size: $font-size-xxs;
}

// Allow colors to be used as
.color-offblack {
	color: $color-offblack;
}

.color-offwhite {
	color: $color-offwhite;
}

.black {
	color: $color-black;
}

.white {
	color: $color-white;
}

.gray {
	color: $color-gray;
}

.lightgray {
	color: $color-lightgray;
}

.darkgray {
	color: $color-darkgray;
}

.blue {
	color: $color-blue;
}

.purple {
	color: $color-purple;
}

.green {
	color: $color-green;
}

.yellow {
	color: $color-yellow;
}

.red {
	color: $color-red;
}

// Allow colors to be used as classes, for backgrounds
.color-offblack--bg {
	background-color: $color-offblack;
}

.color-offwhite--bg {
	background-color: $color-offwhite;
}

.black--bg {
	background-color: $color-black;
}

.white--bg {
	background-color: $color-white;
}

.gray--bg {
	background-color: $color-gray;
}

.lightgray--bg {
	background-color: $color-lightgray;
}

.darkgray--bg {
	background-color: $color-darkgray;
}

.blue--bg {
	background-color: $color-blue;
}

.purple--bg {
	background-color: $color-purple;
}

.green--bg {
	background-color: $color-green;
}

.yellow--bg {
	background-color: $color-yellow;
}

.red--bg {
	background-color: $color-red;
}
